# Paper Brief
<!-- STATUS: pending -->

## Original Idea
{{IDEA}}

## Target Venue
{{VENUE}}

## Working Title
TODO

## Abstract Focus
TODO

## Introduction Claim
TODO

## Related Work Angle
TODO

## Method Story
TODO

## Results Spine
TODO

## Discussion Arc
TODO

## Limitations
TODO
